.Profilepage-main {
  height: 100vh;
  padding-top: 5em;
  
  
  .Profilepage-NexusUsername {
    color: lightgray;
    font-style: oblique;
    padding-top: 0.5em;
    text-align: center;
  }

  .Profilepage-avatar {
    position: relative;
    margin: 3em;
    height: 17em;
    width: 17em;
    margin-left: 5.5em;

    .Profilepage-avatar--button {
      position: absolute;
      left: 15em;
      bottom: 15em;
    }

  }

  

  .Profilepage-form {
    
    .Profilepage-email{
      
      .Profilepage-email--input {
        margin-bottom: 0.7em;
      }
    }

    .Profilepage-buttonsgroup {

      .Password-modal {
        .Password-form {
        background-color: black;
        display: flex;
        flex-direction: column;
        height: 20em;
        justify-content: space-around;
        align-items: center;
        
        .Password-form--input {
          width: 17em;
          height: 2em;
          border-radius: 0.7em;
          font-size: 1.2em;
        }
      
        .Password-form--button {
          max-width: 20em;
          border-radius: 0.7em;
      
        }
      }
    }
      }

      
    
  }
  
}  

  //! ============================= Ici breakpoint pour iPhone ============================================
  @media only screen and (max-width: 765px){
    .Profilepage-main {
      height: 100vh;
      margin-top: 18em;
      margin-bottom: 3em;
      
      
      .Profilepage-NexusUsername {
        
      }
    
      .Profilepage-avatar {
        position: relative;
    
      }
    
      .Profilepage-avatar--button {
        position: absolute;
      }
    
      .Profilepage-NexusUsername {
        
      }
    
    }  
   }

   //! ============================= Ici breakpoint pour iPhone ============================================
  @media only screen and (max-width: 750px){
    .Profilepage-main {
      height: 100vh;
      margin-top: 11em;
      margin-bottom: 3em;
      
      
      .Profilepage-NexusUsername {
        
      }
    
      .Profilepage-avatar {
        position: relative;
    
      }
    
      .Profilepage-avatar--button {
        position: absolute;
      }
    
      .Profilepage-NexusUsername {
        
      }
    
    }  
   }

   //! ============================= Ici breakpoint pour iPhone ============================================
  @media only screen and (max-width: 450px){
    .Profilepage-main {
      height: 100vh;
      margin-top: 11em;
      margin-bottom: 3em;
      
      
      .Profilepage-NexusUsername {
        
      }
    
      .Profilepage-avatar {
        position: relative;
        height: 12em;
        width: 12em;
        margin-left: 7em;
        margin-bottom: 1em;
      }
    
      .Profilepage-avatar--button {
        position: absolute;
        left: 11em;
        bottom: 9.5em;
      }
    
      .Profilepage-NexusUsername {
        
      }
    
    }  
   }

  