.main {
  height: 100vh;
  border: solid 0.3em lightgray;
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: inset 0 0 1em gold, 0 0 2em red;
  

  .avatar {

    .nexusUsername {
      color: lightgray;

    }

    .avatar-image {
      box-shadow: inset 0 0 1em gold, 0 0 2em red;
      padding: 0.2em;
      margin-bottom: 1em;
      border: solid 0.2em lightgray;
    }

    .avatar-popup {
      position: sticky;
      .avatar-popup--form {

        .popup-form--input {

        }

        .popup-form--button {
          
        }
      }

      .avatar-popup--button {

      }
    }
  }

  .mainform {

    .mainform-username {
      
      .mainform-username--input {


      }

    }

    .mainform-email {

      .mainform-email--input {


      }

      .mainform-email--inputConfirm {


      }
    }
  }

  .password-modal {

    .password-form {

      .password-form--input {


      }
    }
  }


}
