//! =================== Ici gestion des couleurs PARTIE GAUCHE uniquement ============================
.ui.segments {
  box-shadow: 5px 5px 7px 11px rgba(0,0,0,0.28);
}

.Homepage {
  height: 100vh;
  overflow: hidden;
}

.Homepage-profile {
  background-color:#2D2D2D;
  box-shadow: 0px 0px 19px 12px rgba(0,0,0,.6);
  color: #9099a1;

  .Homepage-profile--playerinfo {
  
    .Homepage-profile-displayFriends-button {
      width: 40%;
      margin-top: 1rem;
    }

    .Homepage-profile-refreshPage-button {
      width: 40%;
      margin-top: 1rem;
    }
    .Homepage-profile--playerinfo--username {
      color: white;
    }

    .Homepage-profile--playerinfo--mood {

    }

    .Homepage-profile--playerinfo--steamprofile {

    }

    
  }
  .Homepage-profile--playergames {
    background-color: #1b2838;
  }

  
  #Homepage-profile--playergames--search {
      background-color: grey;
    }

  #user-avatar {
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #0ba9ca, 0 0 30px #0ba9ca,
    0 0 40px #0ba9ca, 0 0 50px #0ba9ca;
  -webkit-animation: blink 0.7s infinite alternate;
  animation: blink 0.7s infinite alternate;
  margin-right: 30px;
  }  
  
}

//! ========================== Partie de droite =====================================



.homepage-friendCardsList {
  background-color: #273c57;
  padding-left: 2em;
  overflow: auto;
  opacity: 0.99;

  .friendCardsList-header {
    font-weight: bold;
    color: white;
  }

  .friendCard-element {
    position: relative;
    display: flex;
    height: 6em;
    max-width: 26em;
    background-color: black;
  }

    .friendCard-picture {
      position: absolute;
      top: 0em;
    }

    .friendCard-nexusTag {
      text-align: right;
      font-weight: bold;
      font-size: 8em;
    }

    .friendCard-steamTag {
      text-align: right;
    }

    .friendCard-currentMood {
      text-align: right;
    }

    .friendCard-button {
      padding: 0.5em;
      position: absolute;
      bottom: 0.3em;
      right: 0.5em;
      font-size: 1.2em;
      background-color: darkslategrey;
      color: white;
    }
  }

//! ================================ Ici breakpoint pc ===============================================
@media only screen and (min-width: 1008px){
  .notFound {
    line-height: 50vh;
    height: 50vh;
    color: grey;
    font-size: 20rem;
    text-align: center;
  }
  
  .Homepage-profile {
    position: fixed;
    left:0;
    top: 0;
    bottom: 0;
    padding-top: 75px;
    height: 100vh;
    

    .Homepage-profile--playerinfo {
      height: 30%;
      padding-left: 2rem;

      

      .Homepage-profile--playerinfo--mood{
        padding-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        width: 25%;
      }

      .Homepage-profile--playerinfo--steamprofile{
        font-weight: normal;
      }
    }
    .Homepage-profile--playergames {
      height: 70%;
      padding: 1rem;
      overflow: auto;
    }

    #Homepage-profile--playergames--search {
        margin-bottom: 1rem;
      }

  }

  .homepage-friendCardsList {
    padding-top: 90px;
    height: 100vh;
  }
}

//! ============================= Ici breakpoint pour iPhone ============================================
@media only screen and (max-width: 1007px){
  #user-avatar {
    display: none;
  }


  .ui.segments.Homepage-profile {
    top: 10vh;
    max-height: 40vh;
  
  .Homepage-profile--playerinfo {
   display: none;
  }
  
  .Homepage-profile--playerinfo--username {
  }

  .Homepage-profile--playerinfo--steamInfo {
    display: none;
  }

  .ui.segments.Homepage-profile--playergames {
    height: 35vh;
  }

  .ui.three.cards.Homepage-profile--playergames--gamelist{
    height: 24vh;
    overflow-x: auto;
    margin-top: 0.2rem;
    padding-left: 1rem;
    margin-right: none;
  }

  .Homepage-profile--playergames--game{
    width: 20px;
  }

  .ui.card.Homepage-profile--playergames--game{
    width: 40%;
    height: fit-content;
  }

  .ui.card>.content {
    display: none;
  }

  #Homepage-profile--playergames--search{
    margin: 1rem;
    width: fit-content;
  }
}
.ten.wide.column.homepage-friendCardsList {
  height: 50vh;
  top: 5rem;
  overflow: auto;
  border-radius: .28571429rem;
  border-left: 1rem solid #1b2838;

  .friendCardsList-header {
    padding-bottom: 1rem;
  }

  .friendCard-element {

  }

    .friendCard-picture {
    width: 70px;
    height: auto;
  }

  .notFound {
    line-height: 25vh;
    color: grey;
    font-size: 10rem;
    text-align: center;
  }
}
}
