.FAQ-MainSegment {
  background-color: #2D2D2D;
  height: 100vh;
  color: white;
  overflow: auto;
}

.FAQ-linkToHome {
  padding: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: underline;
}
