.profile-popup {
  text-align: center;
  display: flex;
  flex-direction: column;

  .avatar {
    text-align: center;
    margin-left: 40%;
  }

  a {
    font-size: 1.5em;
    padding-bottom: 10px;
  }

  .profile-username {
    font-size: 1.2em;
    margin-top: 10px;
  }

  .friend-request {
    margin: 10px;
  }
}
