.team-container {
  background-image: url('src/assets/images/devteam/unsplash-code-team.jpg');
  background-size: cover;
  overflow: scroll;
  
 .team-developper {
   width: 200%;
 }
}

.Team-linkToHome {
  padding: 2rem;
  text-align: center;
  text-decoration: underline;
}
