.contact-container {
  padding: 50px;
  box-shadow: 0px 0px 19px 12px rgba(0,0,0,.6);
  overflow: scroll;

  .contact-form {
    border: 1px solid black;
    padding: 50px;
    background-color: whitesmoke;
  }

  .button-submit {
    background-color: yellowgreen;
  }

}
