.contact-container {
  padding: 50px;
  box-shadow: 0px 0px 19px 12px rgba(0,0,0,.6);
  overflow: scroll;
  background-image: url("/src/assets/images/contact.jpg");
  background-size: cover;
    

  .contact-form {
    padding: 50px;
    background-color: whitesmoke;
    z-index: 1;
  }

  .button-submit {
    background-color: yellowgreen;
  }

  .homepage-button {
    padding: 2rem;
    text-align: center;
    text-decoration: underline;
  }

}
