.Password-form {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 10em;
  justify-content: space-around;
  align-items: center;
  
  .Password-form--input {
    max-width: 15em;
    height: 2em;
    
  }

  .Password-form--inputConfirm {
    max-width: 15em;
    height: 2em;
  }

  .Password-form--button {
    max-width: 20em;

  }
}
