.signin-container {
  padding: 50px;
  box-shadow: 0px 0px 19px 12px rgba(0,0,0,.6);
  overflow: scroll;
  background-image: url('src/assets/images/unsplash-lone-gamer.jpg');
  background-size: cover;

  .signin-form {
    border: 1px solid black;
    padding: 50px;
    background-color: whitesmoke;
  }

  .button-submit {
    background-color: yellowgreen;
  }

  .button-cancel {
    background-color: #DC143C;
    padding: 10px;
    border-radius: 5px;
    color: rgb(32, 32, 32);
  }

  .logo {
    height: 60px;
    width: 60px;
    margin-left: 43%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;  }

}

