.signin-container {
  padding: 50px;

  .signin-form {
    border: 1px solid black;
    padding: 50px;
    background-color: whitesmoke;
  }

  .button-submit {
    background-color: yellowgreen;
  }

  .button-cancel {
    background-color: #DC143C;
  }
}
